@use '../../shared/styles/theme-overrides' as theme;

:host {
  display: block;
}

@include theme.light-mode-overrides;

input[type="range"] {
  -webkit-appearance: none;
  height: 4px;
  border-radius: 2px;
  background: #374151;
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #B8F567;
    cursor: pointer;
  }
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
